

.recipe-block > div {
	margin: 10px;
	border: 2px solid #333;
	padding: 5px;
	min-width: 100px;
	min-height: 100px;
}

.recipe-block > div > button {
	text-align: center;
	border-radius: 0px;
	border: 1px solid #333;
	padding: 2px;
}

.smoothie {
	background-color: #f00;
}